:root {
    --primary: #111B54;
    --light: #ffffff;
    --gray: #efefef;
}

body {
    overflow: hidden;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    color: var(--primary);
}


.fondo-primary {
    background-color: #0169C2 !important;
}

#sidebar-container {
    min-height: 100vh;
    width: 15rem;
}

    #sidebar-container .logo {
        padding: .87rem 1.25rem;
    }

    #sidebar-container .menu {
        width: 14rem;
    }

    #sidebar-container .menu-item {
        color: white;
        font-size:small;
    }

        #sidebar-container .menu-item :hover {
            background-color: #2e83cb;
        }
    #sidebar-container .submenu {
        color: white;
        font-size: small;
        background-color: #2e83cb;
    }
        #sidebar-container .submenu :hover {
            background-color: white !important;
            color: #2e83cb !important;
            border-radius:0.375rem;
        }
.btn-menu {
    background-color: #0169C2 !important;
    color: white !important;
    font-size: small;
}
    .btn-menu :hover {
        background-color: #2e83cb !important;
    }

a {
    text-decoration: none;
}

#contenido {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    background-color: #efefef;
}

.bg-mix {
    background: linear-gradient(180deg,var(--light) 50%, var(--gray) 0);
}

.etiqueta {
    background-color: #22c74e;
    color: white;
    border-radius: 22px;
    padding: 0px 2em 0px 2em;
    font-size: 12px;
}

.revision {
    background-color: #ff8000;
}

.actualizar {
    background-color: #ffc107;
}

.pendiente {
    background-color: #6c757d;
    padding: 0 2.5em;
}

.peligro {
    background-color: red;
}

.updated {
    background-color: #158dcf;
}

@media (max-width:768px) {
    #sidebar-container {
        display: none;
    }
}
/*
.cabezal {
    background-color: #0169C2 !important;
    color: white;
    font-weight: bold;
}*/

/*  Estilo de poryecto */
.project_progress .progress {
    margin-bottom: 3px !important;
    margin-top: 5px
}

.projects .list-inline {
    margin: 0
}
.progress {
    border-radius: 0
}

.progress-bar-info {
    background-color: #3498DB
}

.progress-bar-success {
    background-color: #26B99A
}

.progress_summary .progress {
    margin: 5px 0 12px !important
}

.progress_summary .row {
    margin-bottom: 5px
}

    .progress_summary .row .col-xs-2 {
        padding: 0
    }

.progress_summary .more_info span {
    text-align: right;
    float: right
}

.progress_summary .data span {
    text-align: right;
    float: right
}

.progress_summary p {
    margin-bottom: 3px;
    width: 100%
}

.progress_title .left {
    float: left;
    text-align: left
}

.progress_title .right {
    float: right;
    text-align: right;
    font-weight: 300
}

.progress.progress_sm {
    border-radius: 0;
    margin-bottom: 18px;
    height: 10px !important
}

    .progress.progress_sm .progress-bar {
        height: 10px !important
    }
.progress.vertical.progress_wide {
    width: 35px
}


.etiqueta {
    background-color: #22c74e;
    color: white;
    border-radius: 22px;
    padding: 0px 2em 0px 2em;
    font-size: 12px;
}

.revision {
    background-color: #ff8000;
}

.actualizar {
    background-color: #ffc107;
}

.pendiente {
    background-color: #6c757d;
    padding: 0 2.5em;
}

.peligro {
    background-color: red;
}

.updated {
    background-color: #158dcf;
}

/*-----------Slider ------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switch input {
        opacity: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.hiddencol {
    display: none;
}

.cabezal {
    color: white !important;
    background: #4a5494 !important;
}

.cabezal-danger {
    color:#ffa94c;
    background: rgb(254,179,16);
    background: linear-gradient(0deg, rgba(254,179,16,1) 16%, rgba(254,251,16,1) 52%, rgba(233,254,16,1) 100%);
}