.drop-zone {
    max-width: 600px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #5a5757;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    color: #857979;
}
    .drop-zone:hover {
        border: 5px solid #0101aa;
        color: #0101aa;
    }
.drop-zone--over {
    border: 5px solid #0101aa;
    color: #0101aa;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 125px;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

    .drop-zone__thumb::after {
        content: attr(data-label);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        color: #ffffff;
        background: rgba(0, 0, 0, 0.75);
        font-size: 12px;
        text-align: center;
    }
