<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <!--
    <add name="ConnectionString" connectionString="Data Source=LAPTOP-FREYDE\SQLPRUEBAS;Initial Catalog=pruebas_hungaros;Integrated Security=True" />
    -->
    <!-- <add name="pruebas_hungarosConnectionString" connectionString="Data Source=LAPTOP-FREYDE\SQLPRUEBAS;Initial Catalog=pruebas_hungaros;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--
    <add name="ConnectionString" connectionString="Data Source=HUNGAROSSERVER\SQLEXPRESS;Initial Catalog=clientes_hungaros;User ID=hungaros.app;Password=Hungaros!;" providerName="System.Data.SqlClient"/>
    -->
    <!-- ConnectionString para la tabla de clientes_hungaros-->
	  <add name="ConnectionString" connectionString="Data Source=192.168.10.111;Initial Catalog=clientes_hungaros;User ID=hungaros.app;Password=Hungaros!;" providerName="System.Data.SqlClient" />
	  
	  <!-- ConnectionString para la tabla de administracion-->
	  <add name="AdmonConnection" connectionString="Data Source=192.168.10.111;Initial Catalog=user_admin; User ID=hungaros.app;Password=Hungaros!;" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms" assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
	  <authentication mode="Forms">
		  <forms name=".ASPXFORMSDEMO" loginUrl="login.aspx" protection="All" path="/" />
	  </authentication>
	  
  </system.web>


  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" deliveryFormat="SevenBit" from="postmaster@hungaros.com">
        <network port="25" host="mailc76.carrierzone.com"  password="Mail.hungar05!"  /> 
      </smtp>
    </mailSettings>
  </system.net>
	<!--Autenticacion para el directorio de usuario-->
	<location path="usuario">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de F12-->
	<location path="F12">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de F14-->
	<location path="F14">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de F20-->
	<location path="F20">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de F43-->
	<location path="F43">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de F5-->
	<location path="F5">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<!--Autenticacion para el directorio de Admin-->
	<location path="admin">
		<system.web>
			<authorization>
				<!-- Rol de administrador-->
				<allow roles="1" />
				<!-- Rol de usuario-->
				<allow roles="2" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>